@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

html {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: monospace;
    height: 100%;
    min-height: 100%;
}

p {
    margin: 0;
    padding: 0;
    /* animation: fadeIn 0.2s; */
}

form {
    width: 80%;
}

input {
    z-index: 1;
    color: white;
    font-family: monospace;
    width: 80%;
}

button {
    z-index: 1;
    color: white;
    font-family: monospace;
    padding: 2px;
    border: 1px solid white;
    background-color: black;
    flex-grow: 1;
    transition: background-color 0.25s ease-in-out;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {

}

/* From https://www.30secondsofcode.org/css/s/hover-underline-animation/ */
.buttonText {
    display: inline-block;
    position: relative;
}

.buttonText::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: aliceblue;
    transform-origin: bottom right;
    transition: transform .5s ease-in-out;
}

.buttonText:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

button:hover {
    background-color: darkslategray;
}


button:active {
    background-color: slategray;
}

#contentHolder {
    display: flex;
    height: 100%;
    max-height: 100%;
}

#leftPane {
    width: 85%;
    border-right: 1px solid white;
    padding-bottom: 0;
    margin-bottom: 0;
}

#log {
    height: 95%;
    border-bottom: 1px solid white;
    padding: 7px;
    overflow-y: auto;

    display: flex;
    flex-direction: column-reverse;
}

#input {
    /* height: 5%; */
    /* margin: 7px; */
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;
    display: flex;
}

#sidebar {
    width: 15%;
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 5px;
}

.selected {
    background-color: darkslategray;
}